body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #F6F6F3;
  color: #444;
  font-size: 87.5%;
  line-height: 1.5;
}

a {
  color: #BBBBBB;
}

a:hover {
  color: #fff;
}

.top-box {
  /* border:1px solid #ddd; */
  padding: 0px;
  background: #292D33;

}

header {
  background: #292D33;
  position: relative
}

.nav-list > ul {
  padding: 0 10px;
  height: 72px;
  position: relative;
}

.nav-list > ul > li {
  list-style: none;
  display: inline-block;
}

.nav-list > ul > li:hover {
  background: #202328;
}

.nav-list > ul > li > a {
  display: block;
  float: left;
  padding: 0 20px;
  border-right: 1px solid #383D45;
  height: 36px;
  line-height: 36px;
}

.list-frist {
  background: #202328;
  color: #fff !important;
  text-decoration: none;
}

.list-frist > a {
  color: #fff;
  font-weight: bold;
}

.list-left {
  float: left;
}

.list-right {
  float: right;
}

.list-list {
  position: absolute;
  top: 36px;
  /* padding:0 18px; */
  text-indent: 18px;
  color: #fff;
  background: #292D33;
  width: 150px;
  display: none;

}


.list-list > li {
  height: 36px;
  line-height: 36px;
}

.list-list > li:hover {
  background: #202328;
}

.list-list-frist > a {
  font-weight: bold;
  color: #6DA1BB;
}

.main {
  padding: 0 8%;
}

h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin: 25px 0 10px;
  font-size: 1.28571em;
}

p {
  color: #999;
  font-size: 1.15em;
  padding: 1% 0;
}

em {
  color: #444;
  font-size: 2em;
  font-style: normal;
  font-family: Georgia, serif;
}

.zhuanxie {
  height: 35px;
  border-bottom: 1px solid #ECECEC;
  padding-bottom: 35px;
}

.yanse {
  color: #467B96 !important;
}

.yanse:hover {
  color: #63A9CD !important;
  text-decoration: underline;
}

.main-list {
  padding: 0 8%;

}

.main-list > div {
  display: inline-block;
  width: 33%;
}

.main-list > div > ul > li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 20em;
  margin-bottom: 5px;

}

.main-list > div > ul > li > span {
  display: inline-block;
  margin-right: 4px;
  padding-right: 8px;
  border-right: 1px solid #ECECEC;
  width: 37px;
  text-align: right;
  color: #999;
}

.main-list > div > ul > li > a {
  color: #467B96;
}

.main-list > div > ul > li > a:hover {
  color: #63A9CD !important;
  text-decoration: underline;
}

h3 {
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  padding-top: 1%;
}

.footer > p {
  padding: 2.5% 0;
  text-align: center;
  font-size: 0.8em;
}

@media screen and (min-width: 476px) {
  .nav-list > ul {
    padding: 0 10px;
    height: 37px;
    position: relative;
  }
}

@media screen and (max-width: 763px) {
  .main {
    padding-left: 10px;
  }

  .main-list {
    padding-left: 10px;
  }

  .main-list > div {
    display: inline-block;
    width: 100%;
  }
}

@media screen and (max-width: 944px) {
  .main-list > div {
    width: 100%;
  }
}
